
<div class="container">
    <div class="card m-3 me-5 ms-5">
        <div class="row g-0">
          <div class="col-md-4">
                <img src="/media/img_ville.jpg" class="img-fluid rounded-start" alt="image de ville">
          </div>
          <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore dolore sapiente placeat aperiam iste quibusdam illum fuga eius mollitia molestiae! Quia quibusdam error aut, perspiciatis veniam et necessitatibus in asperiores.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card m-3 me-5 ms-5" >
        <div class="row g-0">
          <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore dolore sapiente placeat aperiam iste quibusdam illum fuga eius mollitia molestiae! Quia quibusdam error aut, perspiciatis veniam et necessitatibus in asperiores.</p>
                </div>
          </div>
          <div class="col-md-4">
                <img src="/media/img_ville1.jpg" class="img-fluid rounded-end" alt="image de ville">
          </div>
        </div>
    </div>
    <div class="card m-3 me-5 ms-5">
        <div class="row g-0">
          <div class="col-md-4">
                <img src="/media/img_ville2.jpg" class="img-fluid rounded-start" alt="image de ville">
          </div>
          <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore dolore sapiente placeat aperiam iste quibusdam illum fuga eius mollitia molestiae! Quia quibusdam error aut, perspiciatis veniam et necessitatibus in asperiores.</p>
                </div>
            </div>
        </div>
    </div>
</div>


