.search {
    background-image: url('../media/img_route.jpg');
    background-size:cover;
    padding: 30px;
}
.adresse {
    display: flex ;
    justify-content: space-around;
}
.covoiturage {
    background-color: #CA763B;
}
@media (max-width: 990px) {
    .adresse {
        display : grid;
    }
}