body {
    background-color: #AEBA8A;
}
footer {
    background-image: url('../media/img_feuille.jpg');
    background-size: 100%;
    position: absolute;
    bottom: 0; left: 0; right: 0;
}
a {
    color: white;
    text-decoration: none;
}
nav {
    background-color: #80917D;
}
li {
    padding-inline: 30px;
}
.navbartoggler {
    border: 0em;
}
@media (max-width: 990px) {
    .reverse {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 60%;
    }
    .icone {
        margin-top: 20px;
        align-self: self-start;
    }
    .navbar-brand {
        align-self: self-start;
    }
  }
  