{% extends 'base.html.twig' %}

{% block title %}Covoiturage{% endblock title %}

{% block body %}
    <h1 class="text-center text-light">covoiturages</h1>
    {%for covoiturage in covoiturages %}
    <div class="card rounded-pill covoiturage mb-3 ms-5 me-5">
        <div class="row g-0">
          <div class="col-4 text-center">
            <img src="" class="rounded-circle text-light" alt="image de l'\utilisateur">
            <p class="card-text text-light">{{covoiturage.getUserId().getPseudo()}}</p>
          </div>
          <div class="col-8">
            <div class="card-body">
                <div class="d-flex">
                    <h5 class="card-title text-light">{{covoiturage.getLieuDepart()}}</h5>
                    <img src="/media/arrow-right.svg" class="rounded-circle me-3 ms-4" alt="flèche">
                    <h5 class="card-title text-light">{{covoiturage.getLieuArrivee()}}</h5>
                </div>
                <div class="d-flex justify-content-between">
                    <h2 class="card-text text-light">{{covoiturage.getPrixPersonne()}}€</h2>
                    <br>
                    <a href=""><img src="/media/arrow-down-right-circle-fill.svg" alt="Détails"></a>
                </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock %}